
# database connection
DATABASE_USER="" 				# Provide a value for DATABASE_USER
DATABASE_PASSWORD="" 				# Provide a value for DATABASE_PASSWORD
DATABASE_NAME="" 				# Provide a value for DATABASE_NAME
DATABASE_PORT="" 				# Provide a value for DATABASE_PORT